html {
  box-sizing: border-box;
  overflow: hidden;
}

  body {
    font-family: 'GT Super Display Light';
    margin: 0;
  }
  
  *, *:before, *:after { 
    box-sizing: inherit; 
  }

  div {
    width: 100%;
    padding: 105px;
    float: right;
  }

  .one {
    background: #000000;
  }

  .two {
    background: #222222;
  }

  .three {
    background: #444444;
  }
  .five {
    background: #000000;
  }
  .four{
    background: #444444;
  }
  .six {
    background: #f52e74;
  }
  .seven {
    background: #ff9ec0;
  }
  .eight {
    background: #f9548d;
  }
  .nine {
    background: #01eeff;
  }
  .ten {
    background: #138f98;
  }
  .eleven {
    background: #75e3eb;
  }